.ButtonB{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;

    &:hover{
        color:aliceblue;
        background-color: #010b28;
        transition-duration: 0.5s;
        transform: translateY(-7px);
    }
}